Prueba/Resources/ConsultarDrogaProveedor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.soap.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.soap.com" xmlns:intf="http://ws.soap.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.soap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="obtenerDroga">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerDrogaResponse">
    <complexType>
     <sequence>
      <element name="obtenerDrogaReturn" type="impl:Droga"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Droga">
    <sequence>
     <element name="clasificacion" nillable="true" type="xsd:string"/>
     <element name="descripcion" nillable="true" type="xsd:string"/>
     <element name="idDroga" type="xsd:int"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="tipoDroga" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerDrogaResponse">

      <wsdl:part element="impl:obtenerDrogaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerDrogaRequest">

      <wsdl:part element="impl:obtenerDroga" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ConsultarDroga">

      <wsdl:operation name="obtenerDroga">

         <wsdl:input message="impl:obtenerDrogaRequest" name="obtenerDrogaRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerDrogaResponse" name="obtenerDrogaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ConsultarDrogaSoapBinding" type="impl:ConsultarDroga">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerDroga">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerDrogaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerDrogaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ConsultarDrogaService">

      <wsdl:port binding="impl:ConsultarDrogaSoapBinding" name="ConsultarDroga">

         <wsdlsoap:address location="http://172.16.1.232:8090/WS_Soap/services/ConsultarDroga"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
